.quiz-card {
  border: 2px solid rgb(130, 14, 1);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.question {
  background-color: aquamarine;
  padding: 5px;
  border-radius: 5px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.d-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.icon {
  color: rgb(14, 7, 197);
  align-items: flex-end;
  
}
