.topic {
  border: 2px solid rgb(1, 120, 13);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.topic img {
  background-color: rgb(250, 250, 96);
  width: inherit;
  height: 250px;
}

button{
  border: none;
  border-radius: 5px;
  background-color: rgb(160, 238, 86);
  width: 100%;
  padding: 8px;
  font-weight: 600;
}

.topic button a{
  text-decoration: none;
  
}